.about-wrapper{
    font-family: 'Goorm';
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: center;
    img{
        border-radius: 100%;
        margin-right: 30px;
        width: 100%;
        max-width: 200px;;
        height: auto;
        border: 2px solid #053925;
    }
}

@media screen and (max-width: 550px){
    .about-wrapper{
        flex-direction: column;
        img{
            border-radius: 100%;
            margin-right: 30px;
            margin: auto;
            display: block;
        }
    }
}