#menu-desktop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin: 20px auto;
    padding-bottom: 30px;
    border-top: 5px solid #363535;
    height: 50px;
    align-items: end;
    box-shadow: 0px -2px 0px #C7B69C;
    z-index: 2;
    background-color: #7D7B64;
    a, a:visited, a:hover{
        text-decoration: none;
        text-transform: lowercase;
        font-family: 'Goorm';
        font-size: 30px;
    }
    a, a:visited{
        color: #363535;
    }
    a:hover, .on-page{
        text-shadow: 1px 1px #C7B69C;
    }
}