body{
    margin: 0;
    background-color: #7D7B64;
}


@font-face {
    font-family: 'Fachada';
    src: url(assets/fonts/Fachada-Regular.otf);
}

@font-face {
    font-family: 'Goorm';
    src: url(assets/fonts/goorm-sans-regular.ttf);
}